doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet", href="https://unpkg.com/video.js/dist/video-js.min.css")
    link(rel='stylesheet', href='https://unpkg.com/plyr@3/dist/plyr.css')
    link(rel='stylesheet', href='/stylesheets/mdb/mdb.min.css')

  body

    block content

    script(src='/javascripts/mdb/mdb.min.js')
